*.log
__pycache__
*.code-workspace
*.env
*.nii.gz
*.ipynb
*.wandb

wandb/

data/generated_subsets
data/manual_labels
data/metadata
data/multi_abnormality_labels
data/notebooks
data/radiology_text_reports

*.ipynb_checkpoints

output/

configs/*
!configs/*example.yaml

MagicMock/

hf_cache

hash_to_volume_map.json